## DataBase

Structured Query Language, SQL is used to comunicate with a database. It is the standard language for relational database management system.  
Database Management System, DBMS is where the data stored as a file.  
Relational Database Management System, RDBMS is where the data stored in the form of tables.  
CRUD is the acronym for CREATE,READ,UPDATE and DELETE.  
The terms describe the four essential operations for creating and managing persistent data element.

SQlite is the underlying library that provides the database engine.  
SQlite3 is a TOOL that allows you to interact with the SWlite database through commands.  
Enter: sqlite3  
Exit: sqlite>.quit  
Show databases: sqlite>.databases  
Show tables: sqlite>.tables  
Interrupt: Control C  
Terminate the sqlite3 program: Control D

Unix cmd to install sqlite3:
sudo apt install sqlite3

In [ ]:
import sqlite3
sqlite3.version # python sqlite version

In [ ]:
import sqlite3
sqlite3.sqlite_version # sqlite version

### Create Database

##### old

In [ ]:
import sqlite3
# create database first to connect the database
# then create an object 'conn'
conn = sqlite3.connect('testdb1.db')# Open(if exist) or Create a database
# creaate table
# execute SQL code and fetch results from SQL quaries,
# need a database cursor
cur = conn.cursor()
# cursor allows you to execute the SQL code
cur.execute('CREATE TABLE experiments(name VARCHAR,description VARCHAR)')
# CREATE TABLE experiments(name VARCHAR,description VARCHAR); # unix # sqlite3.exe
# create a table with 2 columns name and desriptom
# each one column will be of type VARCHAR(ie. text)
# but specifying the data type is optional
conn.commit()
# .commit() saves the changes to the database

##### new

In [ ]:
import sqlite3
# create database first to connect the database
# then create an object 'conn'
conn = sqlite3.connect('testdb5.db')# Open(if exist) or Create a database
# creaate table
# execute SQL code and fetch results from SQL quaries,
# need a database cursor
cur = conn.cursor()
# cursor allows you to execute the SQL code
cur.execute('CREATE TABLE test_table5(id int, num int)')
# CREATE TABLE experiments(name VARCHAR,description VARCHAR); # unix # sqlite3.exe
# create a table with 2 columns name and desriptom
# each one column will be of type VARCHAR(ie. text)
# but specifying the data type is optional
conn.commit()
# .commit() saves the changes to the database

#### Insert Data

##### old

In [ ]:
conn = sqlite3.connect('testdb1.db')
cur.execute('INSERT INTO experiments (name, description) values (Jon, My experiment)')
conn.commit()

##### new

In [ ]:
import sqlite3
conn = sqlite3.connect('testdb1.db')
cur.execute('INSERT INTO test_table5 (id, num) values (1,100),(2,200)')
conn.commit()

#### Retrieving Data

In [ ]:
conn = sqlite3.connect('testdb1.db')
cur = conn.cursor()
cur.execute('SELECT *FROM experiments')
data = cur.fetchall()
print(data)

In [ ]:
conn = sqlite3.connect('testdb5.db')
cur = conn.cursor()
cur.execute('SELECT *FROM test_table5')
data = cur.fetchall()
print(data)

## latest

### Create Database

In [22]:
import sqlite3
conn = sqlite3.connect('testdb10.db')# Open(if exist) or Create a database
cur = conn.cursor()
# create table 'test_tables10' with 2 column ie id and num
# cur.execute('CREATE TABLE test_table10 (id int, num int)')# 
conn.commit()# save changes
# insert data to the 2 columns
cur.execute('INSERT INTO test_table10 (id, num) values(1,500),(2,600)')
conn.commit()
cur.execute('SELECT *FROM test_table10')# Retrieving Data
data10 = cur.fetchall()
print(data10)

[(1, 500), (2, 600), (1, 500), (2, 600)]

In [23]:
# where
cur.execute('SELECT * FROM test_table10 WHERE id=1')
# SELECT * FROM test_table10 WHERE id IS 1; # SDL cmd
data11 = cur.fetchall()
print(data11)

[(1, 500), (1, 500)]

In [28]:
sql_command = """
DROP TABLE IF EXISTS experiments;
CREATE TABLE experiments(
    id INTEGER,
    name VARCHAR,
    description VARCHAR,
    PRIMARY KEY (id)
);
INSERT INTO experiments (name, description) values ("A1","My BB1");
INSERT INTO experiments (name, description) values ("A2","My BB2");
"""
cur.executescript(sql_command)
conn.commit()
# faster addressing data by adding a primary key (defined id as the key)

In [25]:
# using fetchone instead of fetchall
# because we know the output should be only one element
cur.execute('SELECT * FROM experiments WHERE id=2')
# SELECT * FROM test_table6 WHERE id is 1; # SDL cmd
data11 = cur.fetchall()
print(data11)

[(2, 'A2', 'My BB2')]

In [31]:
import sqlite3
conn = sqlite3.connect('testdb10.db')
cur = conn.cursor()
sql_command = """
DROP TABLE IF EXISTS test_table20;
CREATE TABLE test_table20(
    id INTEGER,
    name VARCHAR DEFAULT 'James',
    description VARCHAR,
    performed_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id)
);
INSERT INTO test_table20 (name, description) values ("A3","My BB3");
INSERT INTO test_table20 (name, description) values ("A4","My BB4");
"""
cur.executescript(sql_command)
conn.commit()
# performed_at which used TIMESTAMP as its type with a defaut value

In [32]:
cur.execute('SELECT * FROM test_table20')
data20 = cur.fetchall()
data20

[(1, 'A3', 'My BB3', '2023-09-18 06:26:40'),
 (2, 'A4', 'My BB4', '2023-09-18 06:26:40')]

### Create a new table 'test_table30'

In [41]:
import sqlite3
conn = sqlite3.connect('testdb10.db')# Open or Create a database
cur = conn.cursor()
cur.execute("DROP TABLE IF EXISTS test_table30")
cur.execute('CREATE TABLE test_table30(title, year, score)')
# insert data
cur.execute("""
            INSERT INTO test_table30 VALUES
            ('AAA',1975, 8.2),
            ('BBB',1971, 7.5)
            
""")
conn.commit()
res = cur.execute('SELECT score FROM test_table30')# Retrieving Data
res.fetchall()
# data10 = cur.fetchall()
# print(data10)

[(8.2,), (7.5,)]

In [42]:
# insert data
cur.execute("""
    INSERT INTO test_table30 VALUES
    ('this is new',2023, 20),
    ('this is also new',1997, 50)
    
""")
conn.commit()
res = cur.execute('SELECT score FROM test_table30')# Retrieving Data
res.fetchall()

[(8.2,), (7.5,), (20,), (50,)]

### Delete Data

In [44]:
sql_command = """
DELETE FROM test_table30 WHERE score < 20;
"""
cur.executescript(sql_command)
conn.commit()
cur.execute('SELECT score FROM test_table30')# Retrieving Data
data30 = cur.fetchall()
print(data30)

[(20,), (500,)]

In [45]:
# update data, set score of year 1997 to 500
sql_command = """
UPDATE test_table30 SET score = 500 WHERE year = 1997 ;
"""
cur.executescript(sql_command)
conn.commit()
cur.execute('SELECT score FROM test_table30')# Retrieving Data
data31 = cur.fetchall()
print(data31)

[(20,), (500,)]

Data Type for sqlite
- null
- integer, the value is a signed integer
- real,floating point value
- text, string/varchar

#### Import csv file in SQLite database

In [2]:
import csv
with open('student_info.csv', 'r') as fin:
    dr = csv.DictReader(fin)
    student_info = [(i['NAME'],[i['AGE']]) for i in dr]
    print(student_info)

[('Jon', ['12']), ('Mary', ['14']), ('James', ['17']), ('Dav', ['25']), ('Louis', ['23'])]

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('sq12.db')# create and connect to database
stud_data = pd.read_csv('student_info.csv') # load csv file data
# write data to a sqlite table 'student'
stud_data.to_sql('student',conn,if_exists='replace',index=False)
cur = conn.cursor()
for row in cur.execute('SELECT * FROM student'):
    print(row)
conn.close() # close connection to sqlite database

('Jon', 12)
('Mary', 14)
('James', 17)
('Dav', 25)
('Louis', 23)

### Pandas Read Data from Database sqlite db

In [6]:
import sqlite3
import pandas as pd
cnx = sqlite3.connect('sq12.db')
df = pd.read_sql_query("SELECT * FROM student", cnx)
df

    NAME  AGE
0    Jon   12
1   Mary   14
2  James   17
3    Dav   25
4  Louis   23

# Self

https://www.sqlitetutorial.net/download-install-sqlite/  
https://www.runoob.com/sqlite/sqlite-installation.html  
https://docs.python.org/2/library/sqlite3.html

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')

In [ ]:
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()